<!-- <footer>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
.container {
  margin-bottom: 60px;
  height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #DB2929;
  color: #e8fdff;
  padding: 2em 0em;
  margin-top: 5em;
}
</style>
  <nav id="footer">
    <img class="logo" src="/images/bird.png">
    <span class="header">Tweeter</span>
    <button class="button"><i class="fa fa-pencil-square-o"></i> Compose</button>
  </nav>
</footer>
 -->
