<head>

<!-- Favicon -->
 <link rel="shortcut icon" type="image/png" href="/pizzaicon.png"/>


<!-- Logo Font -->
 <link href="https://fonts.googleapis.com/css?family=Signika:700" rel="stylesheet">

<!-- Bootstrap Reference -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- CSS reference-->
 <link rel="stylesheet" type="text/css" href="/styles/layout.css">

 <!-- JS -->
<script type="text/javascript" src="/vendor/jquery-3.3.1.js"></script>
 <script src="/scripts/app.js"></script>

  <title>Pizza</title>

</head>
<body>
<nav class="navbar navbar-light" style="background-color: #DB2929;">
<
  <h1 class="text-light" >Code Pizza</h1>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
