<head>
<title>Pizza4Pickup</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon -->
 <link rel="shortcut icon" type="image/png" href="/pizzaicon.png"/>


<!-- Logo Font -->
 <link href="https://fonts.googleapis.com/css?family=Signika:700" rel="stylesheet">

<!-- Bootstrap Reference -->
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<!-- CSS reference-->
 <link rel="stylesheet" type="text/css" href="/styles/layout.css">
 <link href="/styles/toastr.css" rel="stylesheet"/>

 <!-- JS -->
<script type="text/javascript" src="/vendor/jquery-3.3.1.js"></script>
 <script src="/scripts/app.js"></script>

<!-- JS -->

<script type="text/javascript" src="/vendor/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/styling.js"></script>


</head>
<body>
<nav class="navbar navbar-light" style="background-color: #DB2929;">
  <h1 class="text-light">Pizza4Pickup</h1>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
