<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>
</div>
</head>
<body>
  <div class="container">
 <h3>Order Confirmation: <%= orderId %> </h3>

<span>
</div>
<form>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h4>Summary </h4>
        <li>Number of Items: 4 </li>
  <li>Order Amount: $33.50 </li>
  <li>Estimated Time: 30 mins</li>
  <h4>  <br> Details for pickup <br> </h4>
        <form>
        <div class="form-group">
          <label for="exampleInputNumber1">Number</label>
          <input type="number" class="form-control" id="exampleInputNumber1" aria-describedby="numberHelp" placeholder="Enter Phone Number">
          <small id="Help" class="form-text text-muted">You will recieve text confirmation of the estimated pickup time. We never share your number with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputName1">Name</label>
          <input type="name" class="form-control" id="exampleInputName1" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="exampleInputName1">Address or Postcode</label>
          <input type="name" class="form-control" id="exampleInputName1" placeholder="123 Coding Lane, Toronto, ON, M5V YYZ">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Agree to terms & conditions</label>
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body">
  <h4>  <br> CONGRATS!!! <br> </h4>
  <h6> You're order is being processed we will continue to update you! </h6>
    <ul class="list-group list-group-flush">
  <li class="list-group-item">1. RECIEVE ORDER</li>
  <li class="list-group-item">2. IN PROGRESS</li>
  <li class="list-group-item">3. READY FOR PICKUP</li>
</ul>
</div>
  </div>
</div>
<div class="container">
    <div class="card">
      <div class="card-body">
  <h4>  <br> Bon Appetit!<br> </h4>
  <h6> How was your meal? </h6>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="form-group" id="rating-ability-wrapper">
      <label class="control-label" for="rating">
      <span class="field-label-header">How would you rate your ability to use the computer and access internet?*</span><br>
      <span class="field-label-info"></span>
      <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
      </label>
      <h3 class="bold rating-header" style="">
      <span class="selected-rating">0</span><small> / 5</small>
      </h3>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
  </div>
</ul>
</div>
  </div>
</div>
</div>
</body>
</html>

