body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

#minutes {
 width: 20%;
}

.card{
 margin-right: 1em 1em 1em 1em;
}

.rating-header {
   margin-top: -10px;
   margin-bottom: 10px;
}